body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes slide {
  0%, 100% { opacity: 0; z-index: 0; }
  20% { opacity: 1; z-index: 10; }
  40%, 100% { opacity: 0; z-index: 0; }
}

.animate-slide {
  animation: slide 15s infinite;
}

.animation-delay-5s {
  animation-delay: 5s;
}

.animation-delay-10s {
  animation-delay: 10s;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
